$lightblue: #e1ecf0;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
:host {
  font-family: 'Exo';
}

code {
  font-size: 1.3em;
  font-weight: bold;
}

h1,h3 {
  text-align: center;
}
ul {
  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.container {
  position: relative;
}

.container-inner {
  max-width: 400px;
  margin: 0 auto;
}
.input-container {
  margin-top: 40px;
  margin-bottom: 40px;
  h5 {
    margin:0;
    text-align: center;
  }
}
.input {
  font-size: 50px;
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.input-hint {
  margin-top: 0;
  font-size: 13px;
}

.info {
  p {
    font-size: 13px;
  }
}
.output, .info {
  text-align: left;
  margin-bottom: 10px;
  @media(max-width: 499px) {
    overflow: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightgray;

    td, th {
      border: 1px solid lightgray;
      padding: 5px 10px;
    }

    tr {
      &.current {
        background-color: $lightblue;

        td:first-child {
          position: relative;
          @media(min-width: 500px) {
            &:before {
              content: '→';
              position: absolute;
              left: -30px;
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}


.format-container {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  background-color: $lightblue;
  border-radius: 5px;
  @media(min-width: 500px) {
    display: inline-block;
    max-width: 250px;
    margin-right: 10px;
  }
}

.format {
  margin-bottom: 15px;
}

.item-container {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;

  input, textarea {
    max-width: 100%;
    width: 100%;
    display: block;
  }
}
