$lightblue: #e1ecf0;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
:host {
  font-family:'Exo';
}

h1 {
  text-align: center;
}
.main-example-container {
  position: relative;
}
.main-example {
  max-width: 400px;
  margin:0 auto;
}
.main-example-input {
  font-size: 50px;
  width:100%;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom:10px;
}

.main-example-output, .main-example-info {
  text-align: left;
  font-size: 14px;
  margin-bottom:10px;
  @media(max-width:499px) {
    overflow: auto;
  }
  table {
    width:100%;
    border-collapse: collapse;
    border:1px solid lightgray;
    td,th {
      border:1px solid lightgray;
      padding:5px 10px;
    }
    tr {
      &.current {
        background-color: $lightblue;
        td:first-child {
          position: relative;
          @media(min-width:500px){
            &:before {
              content: '→';
              position: absolute;
              left:-30px;
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}


.format-container {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  background-color:$lightblue;
  border-radius: 5px;
  @media(min-width:500px){
    display: inline-block;
    max-width: 250px;
    margin-right: 10px;
  }
}

.format {
  margin-bottom: 15px;
}

.item-container {
  margin-bottom: 10px;
  border:1px solid black;
  padding:10px;
  input, textarea {
    max-width: 100%;
    width:100%;
    display: block;
  }
}
