<h1>@danielzotti/ng-input-number-i18n</h1>
<h3>Source code on <a href="https://github.com/danielzotti/ng-input-number-i18n/tree/master/projects/ng-input-i18n" target="_blank">GitHub</a></h3>
<div class="container">
  <div class="container-inner">
    <div class="info">
      <table>
        <tr>
          <th>Locale</th>
          <td>{{locale}}</td>
        </tr>
        <tr>
          <th>Format <small>(digitsInfo)</small></th>
          <!--          <td>{{mainFormat}}</td>-->
          <td>
            <select [(ngModel)]="mainFormat">
              <option *ngFor="let selectedFormat of formats" [ngValue]="selectedFormat">
                {{selectedFormat}}
              </option>
            </select>
          </td>
        </tr>
      </table>
      <p>See <a href="https://angular.io/api/common/DecimalPipe#parameters" target="_blank">DecimalPipe docs</a> to
        learn how to handle <em>digitsInfo</em></p>
    </div>

    <div class="input-container">
      <h5>Click on the input to see the magic!</h5>

      <input #inputElement class="input" [ngInputNumberI18n]="mainFormat" [(ngModel)]="mainValue"
             (ngInputNumberI18nValues)="updateValues($event)">
    </div>

    <div class="output">
      <table>
        <thead>
        <tr>
          <th>TYPE</th>
          <th>VALUE</th>
          <th>NOTE</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="{ 'current' : !inputElement.matches(':focus')}">
          <td>Formatted <br><em><small>string</small></em></td>
          <td><strong>{{outputValues.formattedValue}}</strong></td>
          <td>displayed in normal condition</td>
        </tr>
        <tr [ngClass]="{ 'current' : inputElement.matches(':focus')}">
          <td>Input <br><em><small>string</small></em></td>
          <td><strong>{{outputValues.inputValue}}</strong></td>
          <td>displayed on focus</td>
        </tr>
        <tr>
          <td>Real <br><em><small>number</small></em></td>
          <td><strong>{{outputValues.realValue}}</strong></td>
          <td>stored in <code>ngModel</code> and in <code>mainValue</code> variable</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="configuration">

    </div>
    <h2>
      Customization
    </h2>
    <ul>
      <li>It uses the <code><em>locale</em></code> selected in the Angular App to format numbers</li>
      <li>
        <div>
          <code>forRoot</code> configuration:
        </div>
        <ul>
          <li>
            <div>
              <code><em>production</em>: boolean</code>
            </div>
            <div>
              <small>
                If <code>false</code>: on double click event on input, all the values are logged in the console
              </small>
            </div>
          </li>
          <li>
            <div>
              <code><em>undoOnEsc</em>: boolean</code>
            </div>
            <div>
              <small>
                If ESC key is pressed: the changes on input value are canceled and previous value is set
              </small>
            </div>
          </li>
          <li>
            <div>
              <code><em>pipe</em>: CustomPipe</code>
            </div>
            <div>
              <small>
                The default format pipe can be overridden by a CustomPipe <br>
                <small>
                  <code>CustomPipe</code> must implement the Angular <code>DecimalPipe</code>
                </small>
              </small>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>


