$lightblue: #e1ecf0;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:host {
  font-family:'Roboto';
}
.format-container {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  background-color:$lightblue;
  border-radius: 5px;
  @media(min-width:500px){
    display: inline-block;
    max-width: 250px;
    margin-right: 10px;
  }
}

.format {
  margin-bottom: 15px;
}

.item-container {
  margin-bottom: 10px;
  border:1px solid black;
  padding:10px;
  input, textarea {
    max-width: 100%;
    width:100%;
    display: block;
  }
}
