<h1>@danielzotti/ng-input-i18n</h1>

<div class="main-example-container">
  <div class="main-example">
    <div class="main-example-info">
      <table>
        <tr>
          <th>Locale</th>
          <td>{{locale}}</td>
        </tr>
        <tr>
          <th>Format <small>(digitsInfo)</small></th>
          <!--          <td>{{mainFormat}}</td>-->
          <td>
            <select [(ngModel)]="mainFormat">
              <option *ngFor="let selectedFormat of formats" [ngValue]="selectedFormat">
                {{selectedFormat}}
              </option>
            </select>
          </td>
        </tr>
      </table>
      <p>See <a href="https://angular.io/api/common/DecimalPipe#parameters" target="_blank">DecimalPipe docs</a> to know
        how to handle <em>digitsInfo</em></p>
    </div>

    <h5>Click on the input to see the magic!</h5>

    <input #inputElement class="main-example-input" [ngInputI18n]="mainFormat" [(ngModel)]="mainValue"
           (ngInputI18nValues)="updateValues($event)">

    <div class="main-example-output">
      <table>
        <thead>
        <tr>
          <th>TYPE</th>
          <th>VALUE</th>
          <th>NOTE</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="{ 'current' : !inputElement.matches(':focus')}">
          <td>Formatted <br><em><small>string</small></em></td>
          <td><strong>{{outputValues.formattedValue}}</strong></td>
          <td>displayed in normal condition</td>
        </tr>
        <tr [ngClass]="{ 'current' : inputElement.matches(':focus')}">
          <td>Input <br><em><small>string</small></em></td>
          <td><strong>{{outputValues.inputValue}}</strong></td>
          <td>displayed on focus</td>
        </tr>
        <tr>
          <td>Real <br><em><small>number</small></em></td>
          <td><strong>{{outputValues.realValue}}</strong></td>
          <td>stored in <em>ngModel</em> and in <em>mainValue</em> variable</td>
        </tr>
        </tbody>
      </table>
    </div>
    
    <h5>
      Customization
    </h5>
    <ul>
      <li><strong>Value displayed on focus</strong>: normal value but the decimal separator is shown as the current locale </li>
      <li><strong>Value displayed on blur (not focus)</strong>: value is formatted as the current locale</li>
      <li><strong>Real value</strong>: the real value is stored as a javascript number (e.g. 1234.135) and you can find it in the model</li>
    </ul>
  </div>
</div>


